@font-face {
    font-family: 'Hannari';
    src: url("../static/fontes/Hannari-Regular.ttf") format('truetype');
}

:root{
    --tamanhoCardEmergencia: 25.2rem;
}

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(245, 245, 245) !important;
    overflow-x: hidden;
}

body {
    font-family: 'Hannari', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    font-size: 0.8rem;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    flex: 1;
    width: 90cqi;
    color: black;
    padding: 0rem .5rem;
}

.marcadorGravidade {
    position: absolute;
    top: -.4rem;
    left: .8rem;
    width: 3rem;
    max-width: 3rem;
    height: 4rem;
        /* aspect-ratio: 0.9; */
    border-radius: 0 0 10px 10px;
}


/* 
.triangulo {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
} */


.cabecalhoEmergencias > :first-child{
    font-size: 1rem;
}
/* 
.menu{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 100;
    top: -1.2rem;
    left: -1.2rem;
    border-radius: 50%;
    width: clamp(2rem, 5%, 6rem);
    aspect-ratio: 1;
    background-color: #2A9D8F;
    color: white;
    box-sizing: content-box;
    padding: .7rem;
    box-shadow: -1px 3px 6px 0px rgb(153 153 153 / 50%)
    
} */

.menu {
    background-color: #2A9D8F;
    display: flex;
    align-items: center;
    justify-content: end;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
    color: white;
    font-size: .4rem;

    position: fixed;
    z-index: 100;
    bottom: 50vh;
    left: -5.2rem;
    border-radius: 50%;
    /* border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%; */
    width: clamp(5rem, 15%, 8rem);
    aspect-ratio: 1;
    min-width: 0;
    padding: 0 1rem 0 0;
    /* transform: rotate(32deg); */
    cursor: pointer;

    transform-origin: center;
    transition: transform  0.3s ease-in-out;
}

.iconMenu{
    justify-self: end;
}

.menu:hover .iconMenu{
    display: none;
}

header {
    width: 100%;
}

.faixaLogo {
    color: white;
    /* padding: .5rem 0 0 0; */
    width: 100%;
    flex: 1;
    /* box-shadow: 1px 1px 1px 1px gray; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Krona One';
    flex: 1;
}

.menu:hover {
    /* transform: rotate(90deg); */
    transform: scale(2.6);
}

.menu:hover + .esmaeceTela{
    z-index: 9;
    opacity: 80%;
    background-color: rgb(34, 30, 30);
    filter: blur(5000px)
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.nomeHospital {
    display: flex;
    /* flex: 1; */
    align-items: center;
    justify-content: center;
}

.painelEmergencias {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalhoEmergencias {
    display: flex;
    width: clamp(700px, 100%, 1500px);
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(189, 189, 189); */

    padding: 2rem 0 0 0;
}

.containerFiltro {
    font-size: .8rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

.Emergencias {

    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 2rem; */
    width: clamp(480px, calc(3*var(--tamanhoCardEmergencia) + 2.5rem*2), 95%);
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--tamanhoCardEmergencia));
    gap: 2.5rem;
    padding: 1rem 0;
    justify-items: center;

}

@media screen and (max-width: 800px) {
    .Emergencias {
        width: 95%; 
        grid-template-columns: 1fr; 
    }
}

.cardEmergencia {
    border: #2A9D8F;
    box-shadow: -1px 3px 6px 0px rgb(190, 190, 190);
    display: flex;
    aspect-ratio: 14/9;
    width: var(--tamanhoCardEmergencia);
    border-radius: 5px 10px 10px 5px;
    background-color: rgb(255, 255, 255);

    overflow: hidden;
    position: relative;

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.cardEmergencia:hover {
    transform: scale(1.05);
}

.gravidade {
    position: absolute;
    top: -6rem;
    left: -6rem;
    height: 10rem;
    aspect-ratio: 1;
    /* transform: rotate(45deg); */
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

/* .circGravidade2 {
    position: absolute;
    bottom: -2.5rem;
    right: -2rem;
    height: 3rem;
    aspect-ratio: 1;

    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;

} */

.grave {
    background: linear-gradient(135deg, #ff0000 0%, #ff55008d 100%);
}

.moderado {
    background: linear-gradient(135deg, #ff7700 0%, #ffb3009f 100%);
}

.leve {
    background: linear-gradient(135deg, #006aff 0%, #0080ffa3 100%);
}

.conteudoCard {
    width: auto;
    min-width: 0;
    height: auto;
    max-width: 100%;

    position: relative;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
}

.info {
    display: flex;
    width: 100%;
    min-width: 0;
    justify-content: space-between;
    align-items: start;
    padding: .5rem;
    gap: 1rem;
}

.iconeInfo {
    color: black;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.textoInfo {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textoInfo strong {
    font-size: .85rem;
}

.textoInfo p {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detalhes {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    width: 80%;
    position: relative;
}

.botaoDetalhe {
    /* width: 50%; */
    flex: 1;
    box-shadow: 3px 3px 2px 0px #7f7f7f;
    height: 2.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #2A9D8F;
    color: white;
    padding: 1.2rem 0rem;

    transition: transform 0.15s ease-in-out;

}

.nomeHospital{
    font-size: .6rem;
}

.botaoDetalhe:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.esmaeceTela {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

    transition: opacity 0.3s ease-in-out;
}

/* .botaoDetalhe:hover+.esmaeceTela {
    z-index: 9;
    opacity: 40%;
    background-color: rgb(129, 129, 129);
    backdrop-filter: blur(10px);
} */

.containerImagemDetalhes {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
}

.imagemDetalhes {
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: translateX 0.3 ease-in-out;

}

.botaoDetalhe:hover~.containerImagemDetalhes {
    opacity: 100;
    transform: scale(1.6);
    transform: translateY(-10%);
    transform-origin: bottom;
}

.headCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempo {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    min-width: 0;
    gap: .4rem;
}

.tempo p {
    white-space: nowrap;
    flex: 1;
}

.notif {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    color: red;
    animation: pulsar 2s infinite ease-in-out;
    transform-origin: center;
    cursor: pointer;
}


@keyframes pulsar {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }

}

.notifContainer {
    display: flex;
    flex: 1;
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.escondido {
    display: none;
}

.statusCabecalhoCard {
    display: flex;
    flex: 1;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    display: none;
}

.statusCabecalhoCard p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
}

.escondido:checked+.notifContainer {
    animation: esmaeceAoNada 0.5s cubic-bezier(0, 0, 0.58, 1) forwards;
    /* opacity: 0; */
}

@keyframes esmaeceAoNada {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        transform: translateY(-15px);
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: translateY(-15px);
        display: none;
    }
}

@keyframes apareceDoNada {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 0.3;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
    }
}

.escondido:checked~.statusCabecalhoCard {
    display: flex;
    animation: apareceDoNada 2s cubic-bezier(0, 0, 0.58, 1) forwards;
}


.containerUser{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.containerHora{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLeftNavbar{
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.itensMenu{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    display: none;
}

.itemMenu{
    /* display: none; */
    position: absolute;
    border-radius: 50%;
}

.menu:hover .itensMenu{
    display: flex;
}

.menu:hover .itemMenuOrdem1{
    animation: deslocaItem1 .5s ease-in-out forwards;
}


.menu:hover .itemMenuOrdem2{
    animation: deslocaItem2 .5s ease-in-out forwards;
}

.menu:hover .itemMenuOrdem3{
    animation: deslocaItem3 .5s ease-in-out forwards;
}

@keyframes deslocaItem1{
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    100%{
        opacity: 1;
        transform: translate(40px, -35px);
    }
}

@keyframes deslocaItem2{
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    100%{
        opacity: 1;
        transform: translate(60px, 0px);
    }
}

@keyframes deslocaItem3{
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    100%{
        opacity: 1;
        transform: translate(40px, 35px);
    }
}

.w-100{
    width: 100%;
}

.containerLogo{
    /* padding: 0.2rem 0 0 0; */
    background-color: #2A9D8F;
}