@font-face {
    font-family: 'Hannari';
    src: url("../static/fontes/Hannari-Regular.ttf") format('truetype');
}

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white !important;
    overflow-x: hidden;
}

body {
    font-family: 'Hannari', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    font-size: 0.8rem;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white !important;
    flex: 1;
    width: 85cqi;
    color: black;
    padding: 1rem 0.6rem 0 0;
}

main>div {
    width: 100cqd;
    padding: 0.8rem 0 0 0;
}

.titulo3 {
    font-size: 1rem;
}

.faixaLogo {
    width: 100cqi;
    padding: 0px;
    background-color: #2A9D8F;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: inidex;
    color: white;

}

.logo {
    font-size: 40px;
    font-family: 'Krona One';
}

.navbar {
    display: flex;
    width: 100%;
}

.nomeHospital {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.painelEmergencias {
    width: 100%;
}

.cabecalhoEmergencias {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(189, 189, 189);

    padding: 1rem 0;
}

.containerFiltro {
    font-size: .8rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

.Emergencias {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 2rem;
    padding-top: 40px;

}

.cardEmergencia {
    border: #2A9D8F;
    box-shadow: -1px 3px 6px 0px rgb(190, 190, 190);
    display: flex;
    aspect-ratio: 16/9;
    height: clamp(15rem, 15rem, 16rem);
    border-radius: 5px 10px 10px 5px;
    background-color: rgb(250, 250, 250);

    overflow: hidden;
    position: relative;
}

.gravidade {
    position: absolute;
    top: -2.5rem;
    left: -2rem;
    height: 6.5rem;
    aspect-ratio: 1;

    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

/* .circGravidade2 {
    position: absolute;
    bottom: -2.5rem;
    right: -2rem;
    height: 3rem;
    aspect-ratio: 1;

    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;

} */

.grave {
    background: linear-gradient(135deg, #ff0000 0%, #ffc800 100%);
}

.moderado {
    background: linear-gradient(135deg, #ffa600 0%, #ffc800 100%);
}

.leve {
    background: linear-gradient(135deg, #008cff 0%, #aeff00 100%);
}

.conteudoCard {
    width: auto;
    min-width: 0;
    height: auto;
    max-width: 100%;

    position: relative;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
}

.info {
    display: flex;
    width: 100%;
    min-width: 0;
    justify-content: space-between;
    align-items: start;
    padding: .5rem 0;
    gap: .5rem;
}

.iconeInfo {
    color: black;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.textoInfo {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.textoInfo strong {
    font-size: .85rem;
}

.textoInfo p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detalhes {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    width: 80%;
    position: relative;
}

.botaoDetalhe {
    /* width: 50%; */
    flex: 1;
    box-shadow: 3px 3px 2px 0px #7f7f7f;
    height: 2.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #2A9D8F;
    padding: 1.2rem 0rem;
    z-index: 10;

    transition: transform 0.15s ease-in-out;

}

.botaoDetalhe:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.esmaeceTela {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

    transition: opacity 0.3s ease-in-out;
}

.botaoDetalhe:hover+.esmaeceTela {
    z-index: 9;
    opacity: 40%;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
}

.textoDetalhes {
    /* width: 100%; */
    color: white;
}

.containerImagemDetalhes {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
}

.imagemDetalhes {
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: translateX 0.3 ease-in-out;

}

.botaoDetalhe:hover~.containerImagemDetalhes {
    opacity: 100;
    transform: scale(1.6);
    transform: translateY(-10%);
    transform-origin: bottom;
}

.headCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempo {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    min-width: 0;
    gap: .4rem;
}

.tempo p {
    white-space: nowrap;
    flex: 1;
}

.notif {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    color: red;
    animation: pulsar 2s infinite ease-in-out;
    transform-origin: bottom;
    cursor: pointer;
}


@keyframes pulsar {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.1);
    }

}

.notifContainer {
    display: flex;
    flex: 1;
    transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.escondido {
    display: none;
}

.statusCabecalhoCard {
    display: flex;
    flex: 1;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    display: none;
}

.statusCabecalhoCard p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
}

.escondido:checked+.notifContainer {
    animation: esmaeceAoNada 0.5s cubic-bezier(0, 0, 0.58, 1) forwards;
    /* opacity: 0; */
}

@keyframes esmaeceAoNada {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        transform: translateY(-15px);
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: translateY(-15px);
        display: none;
    }
}

@keyframes apareceDoNada{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }

    50%{
        opacity: 0.3;
        transform: translateX(0);
    }

    100%{
        opacity: 1;
    }
}

.escondido:checked ~ .statusCabecalhoCard {
    display: flex;
    animation: apareceDoNada 2s cubic-bezier(0, 0, 0.58, 1) forwards;
}