*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.divCentral{
    width: 10rem;
    height: 10rem;
    background-color: red;

    transition: 0.2s ease-in-out;
}

.divCentral:hover{
    transform: rotateX(45deg) ;
}

.divCentral:hover{
    body{
        background-color: yellow;
    }
}